[Dark-Mode] {
	background: #555;
	color: white;
	border: white;
}
[Dark-Mode] input,[DarkMode] button {
	background: #444;
	color: #fff;
}
[Dark-Mode] iframe {
	background: #555;
	color: #fff;
}
[Dark-Mode] a {
	color: #0000ff;
}

[Light-Mode] {
	background: #fff;
	color: #000;
}
[Light-Mode] input,[Light-Mode] button {
	background: #eee;
	color: #000;
}
[Light-Mode] a {
	color: #0000ff;
}

[Light-Mode] [Dark-Mode] {
	background: #555;
	color: white;
	border: white;
}
[Light-Mode] [Dark-Mode] input,[LightMode] [DarkMode] button {
	background: #444;
	color: #fff;
}
[Light-Mode] [Dark-Mode] iframe {
	background: #555;
	color: #fff;
}
[Light-Mode] [DarkMode] a {
	color: #0000ff;
}
experimental-stuff {
	display: none;
}
[enable-experimental] experimental-stuff {
	display: inline;
}
