[DarkMode] {
	background: #555;
	color: white;
	border: white;
}
[DarkMode] input,[DarkMode] button {
	background: #444;
	color: #fff;
}
[DarkMode] iframe {
	background: #555;
	color: #fff;
}
[DarkMode] a {
	color: #0000ff;
}

[LightMode] {
	background: #fff;
	color: #000;
}
[LightMode] input,[LightMode] button {
	background: #eee;
	color: #000;
}
[LightMode] a {
	color: #0000ff;
}

[LightMode] [DarkMode] {
	background: #555;
	color: white;
	border: white;
}
[LightMode] [DarkMode] input,[LightMode] [DarkMode] button {
	background: #444;
	color: #fff;
}
[LightMode] [DarkMode] iframe {
	background: #555;
	color: #fff;
}
[LightMode] [DarkMode] a {
	color: #0000ff;
}
experimental-stuff {
	display: none;
}
[enable-experimental] experimental-stuff {
	display: inline;
}
