[DarkMode] {
	background: #555;
	color: white;
	border: white;
}
[DarkMode] input,[DarkMode] button {
	background: #444;
	color: #fff;
}
[DarkMode] iframe {
	background: #555;
	color: #fff;
}
[DarkMode] a {
	color: #0000ff;
	background: black;
}

[LightMode] {
	background: #fff;
	color: #000;
}
[LightMode] input,[LightMode] button {
	background: #eee;
}
